.project-page {
    padding:60px;
    width:60%;
    margin:0 auto;
}

.project-page h1 {
    text-align:center;
    padding-bottom:30px;
}

.project-page h3, .project-page h4 {
    margin:40px auto;
}