.container-info {
    width:60%;
    margin:0 auto;
}

.project-page h1.info {
    text-align:center;
    padding-bottom:30px;
}

.project-page h3.info, .project-page h4.info {
    margin:40px auto;
}