input.search-bar {
  width: 50%;
  background-color: white;
  color: black;
  display: block;
  padding: 8px;
  border-radius: 8px;
}

.discover button {
  display: block;
  margin: 0 auto;
  height:30px;
  width:130px;
  background-color:#304352;
}

