.project-proposal {
  display: block;
  margin: 0 auto;
  padding: 50px 40px;
  color: white;
  width: 45%;
  height: 550px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

h1.post-h1 {
  text-align: center;
}

input,
textarea {
  display: block;
  margin: 25px auto;
  width: 75%;
  height: 30px;
  padding: 10px;
  color:black;
}

textarea {
  height: 70px;
  resize: none;
}

button.btn-post {
  display: block;
  margin: 20px auto;
  width: 60%;
  height: 30px;
  background-color: #aaa;
}

@media (max-width: 600px) {
  .project-proposal {
    width: 70%;
    height: 600px;
  }
  input,
  textarea,
  button {
    width: 80%;
  }
}
