.project-proposal {
  display: block;
  margin: 0 auto;
  padding: 50px 40px;
  color: white;
  width: 65%;
  height: 750px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

h1.post-h1 {
  text-align: center;
}

input,
textarea,
select {
  display: block;
  margin: 20px auto;
  width: 80%;
  height: 30px;
  padding: 10px;
  color: black;
}

label {
  display: block;
  margin: auto;
  width: 80%;
}

select {
  height: 50px;
  width:82%;
}

textarea {
  height: 70px;
  resize: none;
}

button.btn-post {
  display: block;
  margin: 20px auto;
  width: 60%;
  height: 30px;
  background-color: #aaa;
}

@media (max-width: 600px) {
  .project-proposal {
    width: 70%;
    height: 700px;
  }
  input,
  textarea,
  button {
    width: 90%;
  }

  select{
    width:100%;
  }
}
