* {
  background-color: #2f2f2f;
}

.app h1.front-page-descrip {
  text-align:center;
}

.app img.earth {
  display:block;
  margin:0 auto;
}

.app button.start {
  display:block;
  margin: 40px auto;
  height:30px;
  width:130px;
  background-color:#00B2B3;
  border:transparent;
  color:black;
}

