body {
  
  background: #304352; 
  background: -webkit-linear-gradient(to right, #d7d2cc, #304352);  
  background: linear-gradient(to right, #d7d2cc, #304352); 
}  
  .app h1.front-page-descrip {
  text-align:center;
}

.app img.earth {
  display:block;
  margin:0 auto;
}

.app button.start {
  display:block;
  margin: 40px auto;
  height:30px;
  width:130px;
  background-color:white;
  border:transparent;
  color:black;
  border-radius: 5px;
}

