body {
  background: #304352;
  background: -webkit-linear-gradient(to right, #d7d2cc, #304352);
  background: linear-gradient(to right, #d7d2cc, #304352);
  margin-bottom: 100px;
}

.app h1.front-page-descrip {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.app img.earth {
  display: block;
  margin: 0 auto;
}

.app .button-holder {
  display: table;
  margin: 0 auto;
}

.app button.start-browsing,
.app button.start-posting {
  display: inline-block;
  margin: 40px 10px;
  height: 40px;
  width: 130px;
  background-color: white;
  border: transparent;
  color: black;
  border-radius: 2px;
}

.app button.start-posting {
  background-color: transparent;
  border: 1px solid black;
  color: white;
}

@media (max-width: 500px) {
  .app h1.front-page-descrip {
    font-size: 23px;
  }
}
